*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* header */
.logo{
    margin:10px 20px ;
}

.logo img{
    width: 60px;
    line-height: 100%;
}

#logo-text{
    font-size: 40px;
    font-weight: 800;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: top;
}

/* main */
main{ 
    background-color: #f6f8fa;
    padding-top: 50px;
    padding-bottom: 10px;
}
.container{
    background-color: white;
    margin:0px auto;
    margin-bottom: 5px;
    width: 80%;
    border-radius: 2% 0 1% 2%;
    padding: 20px 60px;
}
    /*add command  */

    .button{ 
        font-size: 12px;
        font-weight: 500;
        border:none;
        border-radius: 5px;
        padding: 7px 10px;
        margin: 0 1px;
    }

    #blue-button{
        color: white;
        background-color:#43adf2 ;
    }
    #white-button{
        color: #dbdcdb;
        background-color:white;
        border: 1px solid #dbdcdb;
    }

    /* section */
    .section{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #45494a;
        margin-bottom: 10px;
    }

    .titolo-section{
        font-size: 20px;
        font-weight: 600;
    }

    .titolo-section::before{
        content:"\25BE" " " ;
    }

    /* task */
    .task{
        margin-top: 5px;
    }
    .testo-task::before{
        content: "\2713" " " ;
    }
    .label{
        background-color: #43adf2;
        font-size: 10px;
        color: white;
        border-radius: 12px;
        padding: 5px 10px;
        vertical-align: middle;
        line-height: 100%;

    }







